@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap%27');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Quicksand&display=swap');
 

body{
    background-color: #c3c9cf;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}




@media all and (max-width: 1680px) {
  .asideliste { display: none !important; }
  article {margin-left: 0;}
  .saetitre {max-height: 55px;}
}

/*HEADER *****/
header nav {
  background-color: #786481;
  width: 100%;
  box-shadow: 0px 5px 5px rgb(80, 79, 79);
  flex-wrap: wrap;
  
}
header nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
 
}
header nav {
    display: flex;
    align-content: center;
    justify-content: space-around;
      
}

header a {
    display: block;
    text-decoration: none;
    padding: 2em;
    color: rgb(248, 204, 83);
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    letter-spacing: 0.10em;
    display: inline-block;
    padding: 2em;
    position: relative;
}

header ul, footer ul {
  list-style: none;
}

.actif  {
  color: #f1fdc2;
  background-color: #483e5f;
}


@media screen and (min-width: 600px) {
    ul {
        flex-direction: row;
    }
}

header a::after { 
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.actif::after { 
  position: absolute;
  display: block;
  height: 0;
  width: 0;
}

header a:hover::after { 
  width: 100%; 
  left: 0; 
}

.actif {
  color: #f1fdc2;
  background-color: #483e5f;
}

/********MAIN*******/

main {
    display: flex;
    gap: 10px;
    /*flex-wrap: wrap-reverse;*/
    width: 95%;
    margin: 20px;
    min-height: 700px;
  }

  
  /*Aside*/

aside {
  width:900px;
  background-color:c3c9cf;
  float: left;
}

aside section {
  min-width: 400px;
  max-width:400px;
  align-items: center;
  background-color: rgb(252, 248, 255);
  border: thick double #221546;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: fixed;
}

section ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.parsemestre::marker{
  content: "▶ ";
  color: rgb(168, 54, 73);
}

.grasTitre{
  font-weight: bold;
  color: #6b48e9;
 
}

section a {
  color: #221546;
  text-decoration: underline ;
}


.parsemestre{
    display: flex;
    flex-direction: column;
    
}

.accessae{
    padding-left: 30px;
    color: #94a19c;
    text-decoration: none ;
}

  /*SAE***********/

article {
max-width: 70%;
}

article h1 {
    height: 60px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    margin-top: 0;
    font-size: 35px;
}

.formation{
  font-size: 35px;
  text-align: center;
  background-color: rgb(141, 147, 155);
}

.semestrestitres{
  padding-top: 25px;
}

article > p {
  font-size: 20px;
  color: rgb(5, 37, 27);
}


.listesaedescription{
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 60px;
}

.saetitre{
    margin-left: 10px;
    padding: 20px;
    color: #683947;
    border-radius: 3px;
    font-size: 22px;
    box-shadow: 12px 8px 2px 1px rgb(173, 139, 139);
    background-color:rgb(236, 168, 105,0.6);
    flex-wrap: wrap;
}

.saedescription{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(209, 204, 204);
    box-shadow: 5px 5px 5px rgb(80, 79, 79);
    padding-top: 30px;
}

.listesae img{
    flex-basis: 250px;
    width: 380px;
    height: 250px;
    border-radius: 20px;
   
  }

.lienretour {
    margin-left: 15px;
    color: #dd1144;
    text-decoration: none;
    font-size: 20px;
}

.textesae{
    margin-left: 25px;
    max-width: 85%;
    flex-wrap: wrap;

}

.textesae p {
  flex-wrap: wrap;
}

.texteimage{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.lienEnPlus{
  color: #3d5541;
  
}
.lienEnPlus a {
  color:rgb(48, 36, 102)
}

.lienSite{
  margin-left: 5em;
  font-size: 22px;
}

.premierContenu{
  display: flex;
}

.photoexempleDroite {
    list-style: none;
}
.miniature {
    text-align: center;
    font-weight: bold;
    margin: 5px;
}

.images:hover {
    transition-duration: 0.5s;
    -ms-tranform: scale(0.1);
    -webkit-transform: scale(0.1);
    transform: scale(1.04);
}

/* Images bas SAE */

.photoexempleMain {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.photoexempleMain img {
    width: 400px;
    height: 250px;
    margin: 10px;
    
}

.photoexempleMain img:hover{
    transition-duration: 0.5s;
    -ms-tranform: scale(0.1);
    -webkit-transform: scale(0.1);
    transform: scale(1.04);
    
}
/* FOOTER ****************/ 
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(42, 55, 66);
  padding: 3em;
  justify-content: space-evenly;
  background-color: rgb(219, 205, 164);
  margin: 0;
  height: 50px;
}

footer ul li {
  color: rgb(24, 102, 102);
  
}


footer ul li a:hover {
  color: rgb(78, 131, 134);
  text-decoration: underline;
}